body {
    margin: 0px;
    padding: 0px;
    font-family: 'Righteous', cursive;
    background-color: #e6e9ff;
}

.parent {
    margin: 0px;
    width: 100%;
}

.chat-box {
    margin: auto;
    height: 760px;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
}

.name-style {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #35384c;
    padding: 20px 0px;
    justify-content: space-between;
    color: white;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

.head {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
    gap: 5px;
    font-size: 30px;
}

.parent-element::before {
    width: 10px;
    padding: 8px;
    margin-right: -17px;
    margin-top: 2px;
    content: '';
    background: #cdfbfb;
    position: absolute;
    float: right;
    right: 12px;
    left: auto;
    /* border-radius: 5px; */
    transform: rotate(37deg);
    z-index: -1;
}

.parent-new-element::before {
    width: 10px;
    padding: 8px;
    margin-left: -15px;
    margin-top: 10px;
    content: '';
    background: #e6e9ff;
    position: absolute;
    float: left;
    /* border-radius: 5px; */
    transform: rotate(39deg);
    z-index: -1;
}

.img-div {
    background-image: url('./image/Picture1.svg');
    background-size: contain;
    margin-top: 5px;
    width: 30px;
    height: 30px;
}

.name-div {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-right: 15px;
    gap: 10px;
    background-color: transparent;
}

.name-div input[type='text'] {
    background-color: transparent;
    outline: transparent;
    border: solid 1px #787c97;
    color: #c3c4cd;
    text-align: center;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: lighter;
    padding: 5px;
    border-radius: 15px;
}

::placeholder {
    color: white;
    font-weight: lighter;
    font-family: 'Righteous', cursive;
}

.name-btn {
    border: 1px solid transparent;
    background-color: #595d73;
    color: #d9dced;
    padding: 5px 10px;
    border-radius: 2px;
}

.name-btn:hover {
    background-color: #707593;
    color: #d9dced;
    cursor: pointer;
    border-radius: 2px;
}

.name-display {
    padding-right: 20px;
    font-size: 24px;
    color: #d9dced;
}

.name-time {
    gap: 10px;
    font-size: 12px;
    color: rgb(121, 121, 121);
}

.time {
    text-align: right;
    font-size: 12px;
    color: rgb(121, 121, 121);
}

.message-container {
    display: flex;
    height: 100%;
}

.msg-notification {
    width: 20%;
    height: 100%;
    background-color: #2b2e40;
    overflow: auto;
    color: white;
    text-align: center;
}

.joined-status {
    width: 20%;
    height: 100%;
    background-color: #2b2e40;
    overflow: auto;
    color: white;
    text-align: center;
}

.msg-deatils {
    height: 100%;
    /* background-color: rgb(226, 226, 226); */
    width: 60%;
}

.msgs-div {
    /* margin: 0px 15px; */
    /* padding: 0px 10px; */
    width: 100%;
    height: 582px;
    overflow: auto;
    /* margin: auto; */
    background-color: rgb(37 40 58);
    /* border-radius: 5px; */
}

.messages {
    padding: 20px 15px;
    padding-bottom: 0px;
}

.message-class {
    word-break: break-word;
}

.new-messages {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 100;
    background-color: #cdfbfb;
    border-radius: 3px;
    width: fit-content;
    margin-left: auto;
    margin-right: 0px;
    margin-bottom: 10px;
    padding: 5px 10px;
    color: black;
    box-sizing: content-box;
    max-width: 350px;
    min-width: 50px;
}

.new-your-messages {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 100;
    background-color: #e6e9ff;
    border-radius: 3px;
    width: fit-content;
    margin-left: 0px;
    margin-right: auto;
    margin-bottom: 10px;
    padding: 5px 10px;
    color: black;
    box-sizing: content-box;
    max-width: 350px;
    min-width: 50px;
}

.new-notifications {
    color: white;
    padding: 20px;
}

.node-two {
    width: 100%;
    background-color: #25283a;
    border-top: solid 1px #60668c
}

.msg-send {
    padding: 25px 0px;
    margin: auto;
    width: 90%;
}

.msg-sub-send {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 3px;
}

.msg-sub-send input[type="text"] {
    background-color: transparent;
    width: 100%;
    padding: 15px 8px;
    border: none;
    outline: none;
    color: black;
}

.msg-sub-send ::placeholder {
    color: rgb(123, 123, 123);
}

.send-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 8px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #e6e9ff;
    color: #565e93;
}

.send-btn:hover {
    cursor: pointer;
}

.msgs-div::-webkit-scrollbar {
    width: 7px;
}

.msgs-div::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

.msgs-div::-webkit-scrollbar-thumb {
    background: rgba(188, 188, 188, 0.593);
    border-radius: 10px;
}

.msgs-div::-webkit-scrollbar-thumb:hover {
    background: rgba(142, 141, 141, 0.593);
}

.msg-notification::-webkit-scrollbar {
    width: 5px;
}

.msg-notification::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

.msg-notification::-webkit-scrollbar-thumb {
    background: rgba(188, 188, 188, 0.593);
    border-radius: 10px;
}

.msgs-div::-webkit-scrollbar-thumb:hover {
    background: rgba(142, 141, 141, 0.593);
}